<div class="container">
  <header><img src="images/france.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Trippy</h1>

    <div class="content">
      <p>Share your favorite bakery, local beaches or that dive bar can't believe you stumbled into. Sharing your travel recs with your friends has never been so easy! </p>
      <h2>Have an account?</h2>
       <form action="user/new" method="post">
       <ul>
     <li><input type="text" id="username" name="username" placeholder="Username"></li>
    <li><input type="text" id="password" name="password" placeholder="Password"></li>
     <ul>
     <input type="submit" value="Log in">
    </form>
       </div>
   

    <div class="sidebar">
      <h2>Create a New Account</h2>
      <p>It's quick and easy.</p>
      <form action="user/new" method="post">
      <ul>
        <li><input type="text" id="name" name="username" placeholder="Name"></li>
        <li><input type="text" id="username" name="username" placeholder="Username"></li>
        <li><input type="text" id="password" name="password" placeholder="Password"></li>
        </ul>
        <input type="submit" value="Sign Up">
        </form>
    </div>

  </div>
</div>

