<div class="container">
  <header><img src="images/france.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Travel Together</h1>

    <div class="content">
      <p>Share your favorite bakery, local beaches or that dive bar you can't believe you stumbled into. Sharing travel recs with friends has never been so easy! </p>
      <h2>Have an Account?</h2>
        <form action="/users" method="post">
            <ul>
                <li><input type="text" id="username" name="username" placeholder="Username"></li>
                <li><input type="password" id="password" name="password" placeholder="Password"></li>
                <li><input type="submit" value="Log in"></li>
            <ul>
        </form>
    </div>
   

    <div class="sidebar">
      <h2>Create a New Account</h2>
      <p>It's quick and easy.</p>
        <form action="/users/new" method="post">
        <ul>
            <li><input type="text" id="name" name="name" placeholder="Name"></li>
            <li><input type="text" id="username" name="username" placeholder="Username"></li>
            <li><input type="password" id="password" name="password" placeholder="Password"></li>
            <li><input type="submit" value="Sign Up"></li>
            </ul>  
        </form>
    </div>

  </div>
</div>

