<h1>Be In The Know</h1>
<p>Where do you want to go?</p>


<%@destination.each do |destination| %>
<h2><a href="/destinations/<%=destination.id%>">
<%=destination.city_name.capitalize%></a></h2>

<%end%>
