<h1>Share your favorite spots!</h1>

<form method="post" action="/tips">

      <h2>City: <input type="text" id="city_name" name="city_name"></h2>
      <h3>Your find: <input type="text" id="spot" name="spot"> </h3>
      <h3>What is it?: <input type="text" id="type_of_place" name="type_of_place"> </h3>
      <h3>Description: <input type="text_area" id="description" name="description"> </h3>
     
      <%# <p><input type="file" name="images" accept="image/png, image/jpeg"></p> %>
      <p><input type="submit" value="Upload"></p>
      </form>
   