<h1>Share your favorite spots!</h1>
<form method="/post" action"/tips">
<h2></h2>

      <input type="file" name="images" accept="image/png, image/jpeg">
      <input type="submit" value="Upload">
   