<h1>Insert the form to create a new instance of your model.</h1>
<h1>This is the show page for an individual instance of your model.</h1>

      <input type="file" name="images" accept="image/png, image/jpeg">
      <input type="submit" >
   